<!DOCTYPE html>
<html>
<head>
  <title>StationGrade</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">

<div id="wrapper">
  <div id="header">
    <h1>StationGrade / RatMapper</h1>
  </div>
  
  <div id="content">
    <%= yield %>
  </div>
  
  <div id="notices">
    <% content_tag :p, notice, :class => "notice" if notice.present? %>
    <% content_tag :p, alert, :class => "alert" if alert.present? %>
  </div>
</div>
</body>
</html>
