<!DOCTYPE html>
<html>
<head>
  <title>RatMapper</title>
  
  <link rel="icon" 
        type="image/png" 
        href="<%= image_path 'favicon.png' %>">
  
  <%= stylesheet_link_tag "/leaflet/leaflet.css" %>
  <!--[if lte IE 8]><%= stylesheet_link_tag "/leaflet/leaflet.ie.css" %><![endif]-->
	<%= javascript_include_tag "/leaflet/leaflet.js" %>
	
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">

<div id="wrapper">
  <div id="header">
    <h1><%= link_to "RatMapper", root_path %></h1>
    <ul id="nav">
      <li><%= link_to "All Stations", stops_path %></li>
    </ul>
  </div>
  
  <div id="content">
    <%= yield %>
  </div>
  
  <div id="notices">
    <% content_tag :p, flash[:notice], :class => "notice" if flash[:notice].present? %>
    <% content_tag :p, flash[:alert], :class => "alert" if flash[:alert].present? %>
  </div>
</div>
</body>
</html>
